<mat-toolbar color="primary">Github Finder</mat-toolbar>
<div class="container">
  <div class="searchContainer">
    <h2>Search Github Users</h2>
    <p class="lead">Enter a username to fetch a users profile info and repos</p>
    <form novalidate [formGroup]="searchForm" class="example-form">
      <mat-form-field class="search_input">
        <input matInput formControlName="name" placeholder="Search" />
      </mat-form-field>
    </form>
  </div>
  <br />
  <div class="user">
    <app-user [user]="user$ | async"></app-user>
  </div>
  <div *ngIf="user$ | async">
    <app-repo-list [user]="user$ | async"></app-repo-list>
  </div>
</div>
